<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Stock Sensor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Stock Sensor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Registro
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Grupo de Produtos", "GrupoProduto", "Registro")</li>
                                <li>@Html.ActionLink("Marcas de Produtos", "MarcaProduto", "Registro")</li>
                                <li>@Html.ActionLink("Armazens", "Armazem", "Registro")</li>
                                <li>@Html.ActionLink("Unidade de Medida", "UnidadeMedida", "Registro")</li>
                                <li>@Html.ActionLink("Produtos", "Produto", "Registro")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Paises", "Pais", "Registro")</li>
                                <li>@Html.ActionLink("Provincias", "Provincia", "Registro")</li>
                                <li>@Html.ActionLink("Cidade", "Cidades", "Registro")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Perfil de Utilizadores", "PerfilUtilizador", "Registro")</li>
                                <li>@Html.ActionLink("Utilizadores", "Utilizador", "Registro")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Operacoes
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Entrada de Stock", "EntradaStock", "Operacao")</li>
                                <li>@Html.ActionLink("Saida de Stock", "SaidaStock", "Operacao")</li>
                                <li class="nav-divider"></li>
                                <li>@Html.ActionLink("Lancamentos de Perdas", "LancPerdas", "Operacao")</li>
                                <li>@Html.ActionLink("Contagem de Stock", "ContagemStock", "Operacao")</li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Relatorios
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Estado de Stock", "EstadoStock", "Relatorio")</li>
                                <li>@Html.ActionLink("Reabastecimento", "Reabastecer", "Relatorio")</li>
                            </ul>
                        </li>

                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Graficos
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Perdas Por Mes", "Perdas", "Grafico")</li>
                                <li>@Html.ActionLink("Entradas vs Saidas", "EntradasSaidas", "Grafico")</li>

                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Sobre", "Sobre", "Home")</li>
                        <li><a href="#">Ola @User.Identity.Name</a></li>
                        @using (Html.BeginForm("LogOff", ))
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Login", "Login", "Conta")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Stock Sensor</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
